.textarea-content{
            background-color: rgb(49, 47, 47);
            width:75%;
            min-width: 110vh;
            min-height: 700px;
            height: fit-content;
            padding-bottom:20px ;
            border-radius: 20px;
            justify-self: center;
            grid-column: 2;
            margin-top: 40px;
            margin-bottom: 30px;
            display: grid;
            grid-template-rows: auto 1fr;;
        }
        .heading-area{
            justify-self: center;
            align-items: center;
            color: white;
        }
        .textarea-section{
            width: 90%;
            background-color: rgb(24, 23, 23);
            justify-self: center;
            border-radius: 15px;
            color: white;
            font-size: 20px;
            padding: 20px;
        }